@import "tailwindcss";

@theme {
  --color-brand-red: #D41E10;
  --color-brand-red-light: #FAE5E4;
  --color-brand-gray: #4D4D4D;
  --color-brand-black: #000000;
  --color-brand-white: #FFFFFF;
  --color-brand-gray-bg: #F5F5F5;

  --font-sans: var(--font-montserrat), Arial, sans-serif;
}

body {
  background-color: #ffffff;
  color: #4D4D4D;
}
